<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bookstore - Index</title>
</head>
<body>

		<div><h3>Welcome to the Bookstore!</h3></div>
		<div><b>Book details:</b></div><br/>
		<div>
		Name: <span th:text="${title}"></span><br/>
		Author: <span th:text=${author}></span><br/>
		Year: <span th:text=${year}></span><br/>
		ISBN: <span th:text=${isbn}></span><br/>
		Price: <span th:text=${price}></span>&nbsp;€
		</div>
</body>
</html>